.fruit-store-button {
	background-color: rgb(4, 121, 33);
	border: none;
	border-radius: 8px;
	cursor: pointer;
	color: white;
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.fruit-store-button:disabled {
	cursor: not-allowed;
	opacity: 0.6;
	color: lightgray;
}

.fruit-store-button:hover {
	background-color: rgb(2, 83, 24);
}

.fruit-store-button:active {
	background-color: rgb(2, 56, 16);
}
