.home-page-charts {
	display: flex;
	padding-top: 15px;
	flex-direction: column;
}

.home-page-charts > div {
	display: flex;
	justify-content: center;
}

.datepickers input {
	margin: 0 5px 0 5px;
}
