.loading {
	display: flex;
	justify-content: center;
}

.loading div {
	border: 5px;
	width: 70px;
	height: 70px;
	border-radius: 30px;
	border-style: solid;
	border-color: darkgreen;
}

@media (prefers-reduced-motion: no-preference) {
	.loading div {
		animation: Loading-spin infinite 3s linear;
	}
}

@keyframes Loading-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
