.table {
	border-top: solid;
	border-left: solid;
	border-right: solid;
}

.row {
	display: flex;
	justify-content: space-around;
	border-bottom: solid;
}

.row:hover {
	background-color: lightgray;
}

.row div {
	padding: 5px;
	width: 100%;
}

.footer {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}

.footer > span input {
	margin-left: 5px;
}

.footer > span span {
	margin: 5px;
}
