.root-container {
	display: flex;
	justify-content: center;
}

.app-container {
	width: 600px;
}

@media only screen and (max-width: 600px) {
	.app-container {
		width: 100%;
	}
}

.datepickers {
	display: flex;
	justify-content: center;
	padding: 10px;
}

input {
	border-width: thin;
	border-color: black;
	padding: 2px;
}
