.enter-sales-root {
	display: flex;
	justify-content: center;
}

.enter-sales-root > div {
	flex-direction: column;
	width: 270px;
}

.enter-sales-root > div div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}

.enter-sales-root input {
	width: 150px;
}

.enter-sales-root button {
	margin-top: 7px;
	width: 100%;
}
